<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.laphonegap.helloworld"
        versionCode="10" 
        version   = "1.0.0">
		
	<!-- For more information about using config.xml, see
		https://build.phonegap.com/docs/config-xml -->

    <!-- versionCode is optional and Android only -->
    <preference name="phonegap-version" value="3.1.0" />

    <preference name="orientation" value="landscape" />
	
	<!-- this app will have no device api access -->
	<preference name="permissions" value="none"/>
	
	<!-- the default icon to be use, for BlackBerry must be less than 16kb -->
	<icon src="img/icon/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="img/icon/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="img/icon/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="img/icon/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

	<!-- the default splash screen to use -->

    <name>Akij Ceramics</name>

    <description>
        This application only made for Akij Ceramics Live Demo purpose
    </description>

    <author href="https://www.sharkitsolution.com" email="zahid.smz@gmail.com">
        Sultan Mahmud 
    </author>

</widget>